name: Generate Pacman Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Pacman
        uses: Platane/snk@v3
        with:
          github_user_name: Sujal829
          outputs: |
            output/pacman.svg
            output/pacman-dark.svg?palette=github-dark

      - name: Push output
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generate pacman contribution graph"
